.heading ,.heading2{
    background-color: aqua;
    width:100%;
}

canvas{
    border: ridge;
    box-shadow: 3px 3px 3px grey;
    margin-left: 500px;
}

.objectname , #status{
    background-color: aqua;
}